<% provide(:page_title, 'My Profile') %>
<% provide(:account_active, 'active') %>

<div class="container col-lg-6 offset-lg-3">
  <h2>Edit Account</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <h6>*Email:</h6>
      <%= f.email_field :email, required: true, autofocus: true, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <br>

      <h6>*Username:</h6>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      <br>

      <h6>New Password:</h6>
      <%= f.password_field :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, class: 'form-control' %>
      <br>

      <h6>Confirm Password:</h6>
      <%= f.password_field :password_confirmation, required: false, class: 'form-control' %>
      <br>

      <h6>*Current Password:</h6>
      <%= f.password_field :current_password, hint: "we need your current password to confirm your changes", required: true, class: 'form-control' %>
      <br>

    </div>

    <small>Please fill all fields marked with an *</small>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: 'btn btn-sm btn-info btn-block submit' %>
    </div>
  <% end %>

  <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-sm btn-danger btn-block' %></p>

</div>